/*
.mainCont h2{
       
}
*/

.header{
    display: flex;
    align-items: center;
    background-color: #121212;
    }
    .header img{
        width: 150px;
        margin-right: 2em;
    }
    .menu{
        display: flex;
        flex: 1;
        justify-content: space-between;
        height: 50px;
        align-items: center;
    
    }
    .button{
        background-color: #6d63ff!important;
        width: 75px;
        display: flex;
        height: 35px;
        justify-content: center;
        align-items: center;
        margin-right: 3px;
    }
    
    .profile{
        background-color: #4a494a;
        display: flex;
        width: 150px;
        justify-content: space-between;
        align-items: center;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        color: aliceblue;
        font-weight: bold;

    }
    .profile img{
        width: 35px;
    }
    .buttonWrapper{
        height: 35px;
        display: flex;
        align-items: flex-start;
        margin-right: 10px;
    }
     .reactions {
        background: linear-gradient(90deg, #43e0ff 0%, #456ffc 75%);
      }
      
      .entertainment {
        background: linear-gradient(90deg, #456ffc 0%, #7145fc 69%);
      }
      
     .sports {
        background: linear-gradient(90deg, #7145fc 0%, #a945fc 71%, #c445fc 92%);
      }
      
      .stickers {
        background: linear-gradient(90deg, #c445fc 0%, #ef45fc 75%);
      }
      
    .artists {
        background: linear-gradient(90deg, #ef45fc 0%, #fc45c5 62%);
      }
      
    .moreV {
        background: linear-gradient(90deg, #fc45c5 0%, #fc4584 76%);
      }
      .menuButton{
          background-color: #121212 !important;
          height: 30px;
          padding: 10px;
          display: flex;
          align-items: center;
          font-family: "Inter", sans-serif;
          font-size: 18px;
          color: aliceblue;
          font-weight: bold;
  
        
      }
      
      .hover-reactions:hover {
        background: linear-gradient(90deg, #43e0ff 0%, #456ffc 75%) !important;
      }
      
      .hover-entertainment:hover {
        background: linear-gradient(90deg, #456ffc 0%, #7145fc 69%);
      }
      
      .hover-sports:hover {
        background: linear-gradient(90deg, #7145fc 0%, #a945fc 71%, #c445fc 92%);
      }
      
      .hover-stickers:hover {
        background: linear-gradient(90deg, #c445fc 0%, #ef45fc 75%);
      }
      
      .hover-artists:hover {
        background: linear-gradient(90deg, #ef45fc 0%, #fc45c5 62%);
      }
      
      .hover-moreV:hover {
        background: linear-gradient(90deg, #fc45c5 0%, #fc4584 76%);
      }