<div class="container mainCont">
    <div class="header">
        <img src="../../../assets/giphyLogo.png" alt='logo'/>
        <div class="menu">

          <div class="buttonWrapper reactions">

          <div class="menuButton hover-reactions">
          <h2 >Reactions</h2>
          </div>
          </div>
  
          <div class='buttonWrapper entertainment'>
          <div class='menuButton hover-entertainment'>
          <h2>Entertainment</h2>
          </div>
          </div>
  
          <div class='buttonWrapper sports'>
          <div class='menuButton hover-sports'>
          <h2>Sports</h2>
          </div>
          </div>
  
          <div class='buttonWrapper stickers'>
          <div class='menuButton hover-stickers'>
          <h2>Stickers</h2>
          </div>
          </div>
  
          <div class='buttonWrapper artists'>
          <div class='menuButton hover-artists'>
          <h2>Artists</h2>
          </div>
          </div>

          <div class='buttonWrapper artists'>
            <div class='menuButton hover-artists'>
            <h2>MORE</h2>
            </div>
            </div>  
          <!-- 
        <div class='buttonWrapper moreV'>
                <div class='menuButton hover-moreV'>
                icon
                </div>
          </div>
          -->
          
          
          
        </div>
        <div class='button'>
          <h2>Upload</h2>
        </div>
        <div class='button'>
          <h2>Create</h2>
        </div>
        <div class='profile'>
          <img src="../../../assets/avatar.png" alt='avatar'/>
          <h2>Login</h2>
          <h6>...</h6>
        </div>
      </div>
</div>
