
<div class="container-sm header">
      <nav class="navbar navbar-expand-sm ">
        <a class="navbar-brand" href="/">
          <img src="../../../assets/logo/favicon.png" style="width: 30px; height: 30px;text-decoration:none!important;" alt="logo">
          
        </a>
        
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><strong>Reactions</strong>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>Entertainment</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><strong>Sports</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>Stickers</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><strong>Artists</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><strong>:</strong></a>
      </li>
      </ul>
       
    
      </nav>
    </div>
   

