

.header{
    background-color: #121212;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
   
}
.navbar-brand{
    color: #ffffff;
    font-family: 'Oswald', sans-serif !important;
    vertical-align: middle;

}
/*
.navbar img{ }
*/
.navbar a{
    font-weight: normal!important;
    color: #ffffff;
    margin-left: 20%;
    text-decoration: underline;
    padding: 20px;
}
.navbar a :hover{
    background-color: blue;
}