<div class="container mainCont">
    <div class="header">
      <!-- <img src="../../../assets/giphyLogo.png" alt='logo'/> -->
        <img src="./assets/giphyLogo.png" alt='logo'/>
        <div class="menu">

          <div class="buttonWrapper reactions">

          <div class="menuButton hover-reactions">
          Reactions
          </div>
          </div>
  
          <div class='buttonWrapper entertainment'>
          <div class='menuButton hover-entertainment'>
          Entertainment
          </div>
          </div>
  
          <div class='buttonWrapper sports'>
          <div class='menuButton hover-sports'>
          Sports
          </div>
          </div>
  
          <div class='buttonWrapper stickers'>
          <div class='menuButton hover-stickers'>
          Stickers
          </div>
          </div>
  
          <div class='buttonWrapper artists'>
          <div class='menuButton hover-artists'>
          Artists
          </div>
          </div>
        <!-- 
         <div class='buttonWrapper artists'>
            <div class='menuButton hover-artists'>
            <h2>MORE</h2>
            </div>
            </div>    
        -->
          
        <div class='buttonWrapper moreV'>
          <div class='menuButton hover-moreV'>
              <i class="fa-solid fa-ellipsis-vertical" style="color: #fff; size: 5px;"></i>
              <i class="fa fa-ellipsis-v" style="color: #fff;" aria-hidden="true"></i>
          </div>
        </div>
        </div>
        <div class='button'>
          Upload
        </div>
        <div class='button'>
          Create
        </div>
        <div class='profile'>
          <img src="../../../assets/avatar.png" alt='avatar'/>
          <!-- <img src="../../../assets/avatar.png" alt='avatar'/> -->
          Login
          <h6>...</h6>
        </div>
      </div>
</div>
