.gif img{
    max-width: 250px;
   height: 300px;
    border-radius: 3px;
    margin-right: 3px;
    width: 250px;
    padding-bottom: 1em!important;
    
}
.rowHeader img{
    margin-right: 6px;
}
.rowHeader H1{
    font-weight: 800;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    color: #fff; 
}
.rowHeader{
    margin-top: 1em;
    display: flex;
    margin-bottom: 8px;
}
 
 
 /*
.row{
    margin: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    }
    .rowHeader{
        display: flex;
        margin-bottom: 8px;
    }
    .rowHeader img{
        margin-right: 6px;
    }
    .rowHeader H1{
        font-weight: 800;
        font-size: 25px;
        font-family: "Inter", sans-serif;
        color: #fff; 
    }
     
    .trendingContainer{

        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 1000px;
        margin: 0 auto;
       
        overflow-y: hidden;
        height: 800px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        */
       /* display: flex;
        flex-wrap: wrap;
        margin-left: 6%;
       
    }

    .gif img{
        max-width: 250px;
       height: 300px;
        border-radius: 3px;
        margin-right: 3px;
        width: 250px;
        padding-bottom: 1em!important;
        
    }
    
  
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        background-color: #2196F3;
        padding: 10px;
      }

   */