.gif img{
    max-width: 250px;
   height: 300px;
    border-radius: 3px;
    margin-right: 3px;
    width: 250px;
    padding-bottom: 1em!important;
    
}
.rowHeader img{
    margin-right: 6px;
}
.rowHeader H1{
    font-weight: 800;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    color: #fff; 
}
.rowHeader{
    margin-top: 1em;
    display: flex;
    margin-bottom: 8px;
}
 
