.search-container{
  display: flex;
 
  height: 60px;
  align-items: center;
  margin-top: 5px;
  background-color:#121212;
}
input{
  flex: 1;
  border: none;
  padding-left: 10px;
  height: 45px;
  background-color: #fff !important;
}
.search-container input:focus{
  outline: none;
}
::placeholder{
  color: grey;
  font-size: 20px;
  margin-bottom: 0;
}
.search-icon{
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, #fc4584 6%, #fc4562 66%, #fca345 92%);
}
.search-icon .MuiSvg-root{
  font-size: 36px;
}
